@{
    ViewData["Title"] = "Login Page";
}


<form method="post">
    <label>Id:</label>
    <input type="text" name="Id"><br>

    <label >Name:</label>
    <input type="text" name="Name" value="Ram"><br>

    <label value="ram">Email:</label>
    <input type="text" name="Email" value="ram"><br>

    <label value="123">Password:</label>
    <input type="text" name="Password" value="123"><br>

    <input type="submit" />

</form>

@if (ViewBag != null)
{
    <p> @ViewBag.Error</p>
}